<div class="dialog">
  <h1 mat-dialog-title>Request List</h1>

  <div mat-dialog-content class="content">
    <mat-card class="content" *ngFor="let request of this.data | async">
      <mat-card-header>
        <img mat-card-avatar [src]="request.owner.picture" title="ava" (error)="handleError($event)" />
        <mat-card-title>{{ request.owner.name }}</mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
        <mat-card-subtitle class="sub-title">
          Invite you to join: {{ request.title }}
        </mat-card-subtitle>
        <button mat-button color="accent" class="Accept" (click)="acceptRequest(request)">Accept</button>
      </mat-card-header>

    </mat-card>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close-btn">Close</button>
  </div>
</div>