<div class="html">
  <div class="container">
    <h1>Login</h1>
    <div class="body">
      <div>
        <label for="username">Username</label><br />
        <div class="input">

            <mat-icon style="color: rgba(0, 0, 0, 0.208)">person</mat-icon>
            <input class="login-input" height="180px" matInput placeholder="Type your username" />

        </div>
      </div>

      <div >
        <label for="password">Password</label><br />
        <div class="input">

            <mat-icon style="color: rgba(0, 0, 0, 0.208)">lock</mat-icon>
            <input matInput type="password" placeholder="Type your username" />

        </div>

        <p style="text-align: right; font-size: smaller">Forgot password?</p>
      </div>

      <button id="login">Login</button>
      <br />
      <p
        style="
          margin-bottom: -0.1%;
          font-size: smaller;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        Or Sign Up Using
      </p>
      <br />
      <div class="btn">
        <button mat-raised-button (click)="loginWithGoogle()">
          <img src="../../../assets/search.png" />
        </button>
        <button mat-raised-button>
          <img src="../../../assets/facebook.png" />
        </button>
        <button mat-raised-button>
          <img src="../../../assets/twitter.png" />
        </button>
      </div>
    </div>
    <div class="bottom">
      <p style="font-size: smaller">Or Sign Up Using</p>
      <button>Sign Up</button>
    </div>
  </div>
</div>
