<div class="container">
  <h1 style="margin-top: 15%; font-size: xx-large">Login</h1>
  <div class="body">
    <div>
      <label for="username">Username</label><br />
      <div class="input">
        <mat-icon style="color: rgba(0, 0, 0, 0.208);">person</mat-icon>
        <input placeholder="Type your username" />
      </div>
    </div>
    <hr>
    <div>
      <label for="password">Password</label><br />
      <div class="input">
        <mat-icon style="color: rgba(0, 0, 0, 0.208); ">lock</mat-icon>
        <input placeholder="Type your username" />
      </div>
      <hr>
      <p style="text-align: right; font-size: smaller;">Forgot password?</p>
    </div>
    <div class="btn">
      <button mat-raised-button style="font-size: large;">Login</button>
      <br />
      <p style="margin-bottom: -0.1%; font-size: smaller;">Or Sign Up Using</p>
      <button mat-raised-button>Login with Google</button>
      <button mat-raised-button style="margin-top: 1%">
        Login with Facebook
      </button>
      <button mat-raised-button style="margin-top: 1%">
        Login with Twitter
      </button>
      <i class="fab fa-facebook"></i>
    </div>
  </div>
  <div class="bottom">
    <p style="font-size: smaller;">Or Sign Up Using</p>
    <button>Sign Up</button>
  </div>
</div>
