<mat-toolbar>
    <div class="logo">
        <img src="../../../assets/logo.png" title="logo" [routerLink]="'/home'">
    </div>
    <div class="btn-list">
        <button mat-button class="btn" color="accent" [routerLink]="'/home'">Exit</button>
        <button mat-button class="btn" color="accent" [matMenuTriggerFor]="menu" #menuTrigger>File</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openFileDialog()">File</button>
        </mat-menu>
        <button mat-button class="btn" color="accent">Edit</button>
        <button mat-button class="btn" color="accent">View</button>
        <button mat-button class="btn" color="accent">Data</button>
    </div>
    <span class="example-spacer"></span>
    <div class="share">
        <button mat-flat-button (click)="openDialog()" class="btn-share">Share</button>
    </div>
    <div id="avatar">
        <img src="{{this.user.picture}}" title="ava" />
    </div>
</mat-toolbar>