.container-file-dialog 
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.content
{
    color: white;
    font-size: 30px;
    background-color: #ff4081;
    width: 500px;
    height: 50px;
}
.table-file
{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table 
{
    margin: 30px 0 auto 0;
    width: 100%;
}
  
  td, th 
{
    color: rgb(170, 170, 170);
    font-size: 20px;
    text-align: left;
    margin-left: 100px;
    padding: 10px;
}

.btn-dialog
{
  display: flex;
  margin: 0 0 40px 380px;
}

  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

/* .main
{
    width: 700px;
    height: 100%;
    display: flex;
    margin-left: 15px ;
}

.file 
{
    display: flex;
    width: 95%;  
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0 10px 20px;
}

.file-name
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
} */
