<div mat-dialog-content class="content">
  Fill in the email you want to share:
</div>
<div class="add-email">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email...</mat-label>
      <input matInput placeholder="" title="email" [formControl]="emailControl">
    </mat-form-field>
  </form>
  <button mat-icon-button class="add" (click)="addInvite()" aria-label="Example icon-button with add icon"
    [disabled]="!emailControl.value">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="sub-content">
  People with access rights
</div>
<div mat-dialog-content>
  <mat-card class="example-card" *ngFor="let user of tempInviteList">
    <mat-card-header>
      <img mat-card-avatar [src]="user.picture" title="ava" />
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <button mat-button color="accent" class="delete">Detele</button>
    </mat-card-header>
  </mat-card>
  <div id="btn-dialog">
    <button mat-stroked-button (click)="onNoClick()" color="accent" class="btn-stroked">Back</button>
    <button mat-raised-button color="accent" class="btn-raised">Next</button>
  </div>
</div>