
  <h1 mat-dialog-title>Name before sharing</h1>
  <div mat-dialog-content>
    Give the untitled document a name before sharing:
  </div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>File's name</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
  </form>
  
    <div mat-dialog-content>
      People with access rights
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shyren</mat-card-title>
        <mat-card-subtitle>tuan.tt18989@sinhvien.hoasen.edu.vn</mat-card-subtitle>
        <button mat-button color="accent">Detele</button>
      </mat-card-header>
    </mat-card>

    <button mat-icon-button class="add" aria-label="Example icon-button with add icon">
      <mat-icon>add</mat-icon>
    </button>

    <div class="btn-dialog">
      <button mat-stroked-button color="accent">Back</button>
      <button mat-raised-button color="accent">Next</button>
    </div>
  
