button {
  margin-right: 8px;
}

.content {
  font-size: 20px;
  color: rgb(211, 12, 77);
}

.sub-content {
  font-size: 20px;
  color: rgb(211, 12, 77);
  margin: 0 24px 24px 24px;
}

.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  height: 50%;
  margin: 0px 27px 0 24px;
}

.example-full-width {
  width: 100%;
  height: 80px;
}

.add {
  color: white;
  background-color: rgb(211, 12, 77);
  margin: -10px 10px 10px 0;
}

.add:disabled {
  color: #000;
  background-color: #efefef;
  margin: -10px 10px 10px 0;
}

.example-header-image {
  background-size: cover;
}

.mat-mdc-card {
  --mdc-elevated-card-container-color: none !important;
}

.example-card {
  /* width: 88%; */
  height: 85px;
  margin: 0 auto;
}

.example-card ::ng-deep.mat-mdc-card-header {
  display: flex;
  padding: 16px;
  align-items: center;
  margin: auto 0;
}

.example-card ::ng-deep.mat-mdc-card-avatar {
  margin: auto 0;
}

#btn-dialog {
  display: flex;
  margin: 20px 0 0 336px;
}

.btn-raised {
  color: white;
  background-color: rgb(211, 12, 77);
}

.btn-raised:hover {
  color: white;
  background-color: rgb(175, 12, 51);
}

.btn-stroked {
  color: rgb(211, 12, 77);
  border: 1px solid rgb(211, 12, 77);
}

.btn-stroked:hover {
  color: rgb(211, 12, 77);
  border: 1px solid rgb(175, 12, 51);
}

.delete {
  color: rgb(211, 12, 77);
  margin: auto 0 auto auto;

}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgb(211, 12, 77) !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: rgb(211, 12, 77) !important;
}

.add-email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep .mat-mdc-dialog-content {
  max-height: 40vh !important;
}