

//Div 2
.home{
  width: 100%;
}

#context{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  #add-mem-but{
    margin-right: 55px;
  }

  #page-name{
    font-weight: 600;
    font-size: x-large;
    margin-left: 50px;
  }
  .mat-mdc-button {
    --mat-mdc-button-persistent-ripple-color: rgb(211, 12, 77) !important;
    --mat-mdc-button-ripple-color: rgba(211, 12, 77, 0.1);
  }
}

#option-but{
  width: 100%;

  section {
    // display: table;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-button-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    height: 60px;
    width: 440px;
  }

  .mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: rgb(211, 12, 77) !important;
    --mat-mdc-button-ripple-color: rgba(211, 12, 77, 0.1);
  }

}

.content{
  width: 100%;

  #blank-space{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
      width: 40%;
    }
    #blank-title{
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0;
      color: #4C4C4C;
    }
    #blank-detail{
      text-align: center;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0.2px;
      line-height: 1.5;
      color: #989898;
    }
  }


}
