//Div 2
.home {
  width: 100%;
}

#context {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  #add-mem-but {
    margin-right: 55px;

    // color: rgb(212, 12, 79) !important;
    mat-icon {
      color: rgb(212, 12, 79) !important;
    }
  }

  #page-name {
    font-weight: 600;
    font-size: x-large;
    margin-left: 50px;
    // color: rgb(212, 12, 79) !important;
  }

  .mat-mdc-button {
    --mat-mdc-button-persistent-ripple-color: rgb(211, 12, 77) !important;
    --mat-mdc-button-ripple-color: rgba(211, 12, 77, 0.1);
  }
}

#option-but {
  width: 100%;

  section {
    // display: table;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-button-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    height: 60px;
    width: 440px;

    mat-icon {
      color: rgb(212, 12, 79) !important;
    }
  }

  .mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: rgb(212, 12, 79) !important;
    --mat-mdc-button-ripple-color: rgba(211, 12, 77, 0.1);
  }
}

.content {
  width: 100%;

  #blank-space {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      width: 40%;
    }

    #blank-title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0;
      color: #4c4c4c;
    }

    #blank-detail {
      text-align: center;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0.2px;
      line-height: 1.5;
      color: #989898;
    }
  }

  ::ng-deep .mdc-list-item.mdc-list-item--with-trailing-meta .mdc-list-item__end {
    height: 100% !important;
    display: flex !important;

    button {
      margin: auto 0;
    }
  }

  ::ng-deep .mdc-list-item.mdc-list-item--with-two-lines .mdc-list-item__start {
    // margin-top: 23px !important;
    padding: 9px !important;
  }

  .e9e3e7 {
    background-color: #e9e3e7 !important;
    border-color: #e9e3e7 !important;
    color: rgb(58, 3, 45) !important;
  }

  .fff6d4 {
    background-color: #fff6d4 !important;
    border-color: #fff6d4 !important;
    color: rgb(58, 3, 45) !important;
  }

  .dae9fd {
    background-color: #dae9fd !important;
    border-color: #dae9fd !important;
    color: rgb(58, 3, 45) !important;
  }

  .fdeacc {
    background-color: #fdeacc !important;
    border-color: #fdeacc !important;
    color: rgb(58, 3, 45) !important;
  }

  .cef6ec {
    background-color: #cef6ec !important;
    border-color: #cef6ec !important;
    color: rgb(58, 3, 45) !important;
  }

  .fbd9db {
    background-color: #fbd9db !important;
    border-color: #fbd9db !important;
    color: rgb(58, 3, 45) !important;
  }


  ::ng-deep .mdc-list-item__content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

    .file-title {
      font-weight: bold;
    }
  }


}

.mdc-list button mat-icon {
  color: rgb(212, 12, 79) !important;
}

#menu-icon {
  color: rgb(212, 12, 79) !important;
}

.overlap-ava-box {
  margin: auto 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: .2s ease;
    transition: .2s ease;

    .overlap-ava {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  li:nth-child(1) {
    background: blue;
  }

  li:nth-child(2) {
    background: green;
  }

  li:nth-child(3) {
    background: purple;
  }

  li:nth-child(4) {
    background: tomato;
  }

  li:nth-child(n+2) {
    margin-left: -35px;
  }

  ul:hover li:nth-child(n+2) {
    margin-left: -15px;
  }
}