<div>
  <mat-toolbar color="white">
    <img id="logo" src="../../../assets/logo.png">
    <span class="example-spacer"></span>
    <mat-icon>message bubble with ellipses</mat-icon>
    <mat-icon>help</mat-icon>
    <div class="navbar">
      <button >Intergration</button>
      <button >Templates</button>
      <button >Community</button>
    </div>
    <input type="text"><mat-icon>search</mat-icon>
    <img id="avatar" src="../../../assets/326719154_486366847023537_4553438451798961655_n.jpg">
  </mat-toolbar>
</div>

<div class="home">
  <span>HOME</span>
  <div id="home-1">
    <button><mat-icon>add_circle</mat-icon>Create spreadsheet</button>
    <button><mat-icon>download</mat-icon>Import files</button>
    <button><mat-icon>space_dashboard</mat-icon>Browse templates</button>
  </div>
  <button><mat-icon>group_add</mat-icon>Invite team members</button>
</div>

<div class="content">
  <div>
    <img id="rows" src="https://rows.com/f0ff810314d33d5e89ce178df62668c5.svg"><br>
    <button id="tbn-list">Create a new spreadsheet!</button> <br>
    <span id="tbn-list1">Create a blank speardsheet, import a file or browse our
      template gallery.</span>
  </div>
</div>
