<app-navbar [user]="this.user$"></app-navbar>

<!-- div 2 -->
<div class="home">
  <div id="context">
    <div id="page-name">HOME</div>
    <button mat-button id="add-mem-but">
      <mat-icon>group_add</mat-icon>
      Invite team members
    </button>
  </div>
  <div id="option-but">
    <section>
      <div class="example-button-row">
        <button mat-stroked-button>
          <mat-icon>add_circle </mat-icon>Create spreadsheet
        </button>
        <button mat-stroked-button>
          <mat-icon>download</mat-icon>Import files
        </button>
        <button mat-stroked-button>
          <mat-icon>space_dashboard</mat-icon>Browse templates
        </button>
      </div>
    </section>
  </div>
</div>

<!-- div 3 -->
<div class="content">
  <div id="blank-space" *ngIf="sheetFiles == []">
    <img
      id="rows"
      src="https://rows.com/f0ff810314d33d5e89ce178df62668c5.svg"
      title="rows"
    />
    <br />
    <span id="blank-title">Create a new spreadsheet!</span>
    <span id="blank-detail"
      >Create a blank speardsheet, import a file or browse our template
      gallery.</span
    >
  </div>
  <div id="unblank-space" *ngIf="sheetFiles != []">
    <mat-action-list>
      <mat-list-item *ngFor="let file of sheetFiles">
        <!-- <mat-icon matListIcon>folder</mat-icon> -->
        <h3 matListItemTitle>{{ file.title }} - {{ file.owner.name }}</h3>
        <p matListItemLine class="demo-2">{{ file.updated_At | date }}</p>
        <div matListItemMeta>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'../spreadsheet'">
            <mat-icon>bookmark_manager</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>drive_file_rename_outline</mat-icon>
            <span>Rename</span>
          </button>
          <button mat-menu-item>
            <mat-icon>folder_share</mat-icon>
            <span>Share</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-action-list>
  </div>
</div>
