<div>
  <mat-toolbar color="white" >
    <img id="logo" src="../../../assets/logo.png" >
    <span class="example-spacer"></span>
    <mat-icon>message bubble with ellipses</mat-icon>
    <mat-icon>help</mat-icon>
    <button >Intergration</button>
    <button >Templates</button>
    <button >Community</button>
    <input type="text">    <mat-icon >search</mat-icon>
  </mat-toolbar>
</div>

<div class="home">
  <span>HOME</span>
  <button><mat-icon>add_circle</mat-icon>Create spreadsheet</button>
  <button><mat-icon>download</mat-icon>Import files</button>
  <button><mat-icon>space_dashboard</mat-icon>Browse templates</button>
  <button><mat-icon>group_add</mat-icon>Invite team members</button>
</div>
