<mat-toolbar id="navbar">
  <div id="logo-box">
    <img src="../../../assets/logo.png" title="logo" />
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>sms</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>help</mat-icon>
  </button>
  <section>
    <div class="example-button-row">
      <button mat-flat-button>Intergration</button>
      <button mat-flat-button>Templates</button>
      <button mat-flat-button>Community</button>
    </div>
  </section>

  <span class="example-spacer"></span>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" title="search-but"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div id="avatar">
    <img src="{{(this.user$ | async)?.picture}}" [matMenuTriggerFor]="menu" title="ava" />
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog('0ms', '0ms')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>