
<mat-toolbar class="navbar" color="white">
  <div id="logo-box">
    <img src="../../../assets/logo.png">
  </div>
  <div class="icon-box">
    <mat-icon >sms</mat-icon>
    <mat-icon>help</mat-icon>
    <button id="tbn-one">Intergration</button>
    <button id="tbn-one">Templates</button>
    <button id="tbn-one">Community</button>
  </div>
  <div class="box">
    <input type="text" placeholder="search"><mat-icon id="search">search</mat-icon>
  </div>
  <img id="avatar" src="../../../assets/326719154_486366847023537_4553438451798961655_n.jpg">
</mat-toolbar>
