.mat-mdc-dialog-actions {
    justify-content: flex-end;
}

.example-full-width {
    width: 100% !important;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #d30c4d !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #d30c4d !important;
}

#closeBut {
    position: relative;
    top: 10px;
    left: 555px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
    margin: 0 !important;
    padding: 30px !important;
    background-color: #f1f1f1 !important;

    #dialog-title {
        margin-bottom: 0 !important;
    }
}

#sub-title {
    font-size: unset !important;
    font-weight: 200 !important;
}


::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    // height: 100% !important;
    background-color: white !important;

    .mdc-list {
        padding: 0 !important;
    }

    .example-form {
        width: 100%;
        margin-top: 10px;
    }

    .example-full-width {
        width: 100%;
    }
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}


mat-divider {
    margin: 15px 0 0 0;
}

#themeList {
    display: block !important;
    -webkit-tap-highlight-color: transparent !important;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}



.example-button-container {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.mat-button-toggle-group-appearance-standard {
    border: none !important;
    border-radius: 0 !important;
}


.mat-but-tog-0 {
    background-color: rgb(233, 227, 231);
    border-color: rgb(233, 227, 231);
    color: rgb(58, 3, 45) !important;
}

.mat-but-tog-1 {
    background-color: rgb(255, 246, 212);
    border-color: rgb(255, 246, 212);
    color: rgb(58, 3, 45) !important;

}

.mat-but-tog-2 {
    background-color: rgb(253, 234, 204);
    border-color: rgb(253, 234, 204);
    color: rgb(58, 3, 45) !important;

}

.mat-but-tog-3 {
    background-color: rgb(251, 217, 219);
    border-color: rgb(251, 217, 219);
    color: rgb(58, 3, 45) !important;
}

.mat-but-tog-4 {
    background-color: rgb(206, 246, 236);
    border-color: rgb(206, 246, 236);
    color: rgb(58, 3, 45) !important;

}

.mat-but-tog-5 {
    background-color: rgb(218, 233, 253);
    border-color: rgb(218, 233, 253);
    color: rgb(58, 3, 45) !important;

}

.mat-button-toggle-checked {
    // background-color: rgb(233, 227, 231) !important;
    border: 0.1px solid rgb(58, 3, 45) !important;
}

::ng-deep .mat-mdc-list-base .mdc-list-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;

    #warning-icon {
        font-size: 12px !important;
        color: rgb(58, 3, 45) !important;
        width: 12px !important;
        height: 12px !important;
        margin: 3px 0 0 3px;
    }
}

#workspace-img {
    border-radius: 0 !important;
}

::ng-deep .mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines.mdc-list-item--with-trailing-meta .mdc-list-item__end {
    display: flex;
    margin-top: 0;
    line-height: normal;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#createBut {
    background-color: #d30c4d !important;
    color: white !important;
}

#createBut:disabled {
    background-color: #e7e7e7 !important;
    color: #b3b3b3 !important;
}

::ng-deep .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #d30c4d;
    --mdc-switch-selected-handle-color: #d30c4d;
    --mdc-switch-selected-hover-state-layer-color: #d30c4d;
    --mdc-switch-selected-pressed-state-layer-color: #d30c4d;
    --mdc-switch-selected-focus-handle-color: #880e4f;
    --mdc-switch-selected-hover-handle-color: #880e4f;
    --mdc-switch-selected-pressed-handle-color: #880e4f;
    --mdc-switch-selected-focus-track-color: #f06292;
    --mdc-switch-selected-hover-track-color: #f06292;
    --mdc-switch-selected-pressed-track-color: #f06292;
    --mdc-switch-selected-track-color: #f06292;
}

#editable {
    font-size: 15px;
}

.itemName {
    font-weight: 500;
}