<div class="container">
  <p> Recent activity</p> <br>
  <span><mat-icon>table_chart</mat-icon>Untitled speardsheet 3</span>
  <span> In My spreadsheets</span>
  <span> Modified 7 hours ago</span>
  <mat-icon>more_horiz</mat-icon>
</div>

<div class="container">
  <p> Recent activity</p> <br>
  <span><mat-icon>table_chart</mat-icon>Untitled speardsheet 3</span>
  <span> In My spreadsheets</span>
  <span> Modified 7 hours ago</span>
  <mat-icon>more_horiz</mat-icon>
</div>

<div class="container">
  <p> Recent activity</p> <br>
  <span><mat-icon>table_chart</mat-icon>Untitled speardsheet 3</span>
  <span> In My spreadsheets</span>
  <span> Modified 7 hours ago</span>
  <mat-icon>more_horiz</mat-icon>
</div>
