<div id="container">

<div class="toolbar">
  <img id="logo" src="../../../assets/logo.png" >
    <button id="btn_contact" style="border: none; background-color: white;">Overview</button>
    <button id="btn_contact" style="border: none; background-color: white;">Features</button>
    <button id="btn_contact" style="border: none; background-color: white;">A SuperCeller</button>
  <button id="btn" style="margin-right: 5%;">Contact us</button>
</div>


<div class="overview">
  <div id="name">
    <h1 style="color: #D30C4D;">Super Cell</h1>
    <h2 style="background-color: #D30C4D;">Fast - Consise - Convenient</h2>
  </div>
  <div id="describe">
    <p>Powerful spreadsheet tool suitable for everyone from individuals and businesses from small to large scale. Comfortable, easy to use but still brings high productivity and efficiency.</p>
  </div>
</div>

<div class="content">
  <div id="signin">
    <button id="btn">See more</button>
    <br>
    <h3>Join us to experience our great features and benefits</h3>
    <br>
    <p>By using your Google Account to sign in as an user. We can give use a
      great workspace with a lot of tools help you to calculate from a simple to a complex case. Beside, a lot of features are for you when you joined in.</p>
      <br>
    <button id="btn">SIGN IN</button>
  </div>
  <div id="features">
    <button id="btn_features">Support calculation functions to help users easily calculate effective and fast statistics</button>
    <button id="btn_features">Share and work with multiple people at once on a project</button>
    <button id="btn_features">Ensuring the safety of users' information, data, files,...</button>
  </div>
</div>

</div>
