#container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar {
  background-color: white;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  button{
    border-radius: 10px;
    background-color: #d30c4d;
    border: none;
  }
}
#logo {
  width: 10%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 3%;
}

#btn:hover {
  background-color: #d30c4d;
  color: white;
  border-color: black;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  h1{
    color: #d30c4d;
    font-size: 5%;
  }
  h2{
    background-color: #d30c4e49;
  }
  h3{
    width: 70%;
    font-size: 150%;
  }
}

#name {
  font-size: 100vh;
  margin-left: 3%;
}

#describe {
  width: 50%;
  height: 50%;
}

.content {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.but{
  width: 70%;
  margin: 10px auto;
  button{
    border-color: #d30c4d;
    background-color: transparent;
  }
  button:hover{
    transform: scale(1.5);
  }
}

#signin {
  width: 50%;
  // display: table;
  // text-align: center;
  // vertical-align: middle;
}
#word {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

#img {
  width: 19%;
  height: 60%;
}

#features {
  display: grid;
  justify-items: center;
  // align-content: center;
  height: 100%;
}

#btn_features {
  border: 3px solid #d30c4d;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  // margin-right: 7%;
}

// #btn_features:hover {
//   background-color: #d30c4d;
//   color: white;
//   border-color: black;
// }
