<div id="container">
  <div class="toolbar">
    <img id="logo" src="../../../assets/logo.png" />
    <!-- <button id="btn_contact" style="border: none; background-color: white; display:flex; align-content: center;">Overview<mat-icon>arrow_drop_down</mat-icon></button> -->
    <div id="btn_toolbar" style="display: flex; align-content: center; font-size: medium;">
      Overview<mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <button id="btn_toolbar" style="border: none; background-color: transparent; font-size: medium;">
      Features
    </button>
    <button id="btn_toolbar" style="border: none; background-color: transparent; font-size: medium;">
      A SuperCeller
    </button>
    <button mat-raised-button id="btn" style="margin-right: 5%; font-size: medium; ">Contact us</button>
  </div>

  <div class="overview">
    <div id="name">
      <h1>Super Cell</h1>
      <h2>Fast - Consise - Convenient</h2>
    </div>
    <div id="describe">
      <h3>
        Powerful spreadsheet tool suitable for everyone from individuals and
        businesses from small to large scale. Comfortable, easy to use but still
        brings high productivity and efficiency.
      </h3>
    </div>
  </div>

  <div class="content">
    <div id="signin">
      <div class="but">
        <button mat-raised-button>See more</button>
      </div>
      <div id="word">
        <h1 style="font-size: xx-large">
          Join us to experience our great features and benefits
        </h1>
        <p>
          By using your Google Account to sign in as an user. We can give use a
          great workspace with a lot of tools help you to calculate from a
          simple to a complex case. Beside, a lot of features are for you when
          you joined in.
        </p>
      </div>
      <div class="but">
        <button mat-raised-button>SIGN IN</button>
      </div>
    </div>

    <div id="features">
      <div id="btn_features">
        <p style="width: 50%">
          Support calculation functions to help users easily calculate effective
          and fast statistics
        </p>
        <img id="img" src="../../../assets/1.png" />
      </div>
      <div id="btn_features">
        <p style="width: 50%">
          Share and work with multiple people at once on a project
        </p>
        <img id="img" src="../../../assets/2.png" />
      </div>
      <div id="btn_features">
        <p style="width: 50%">
          Ensuring the safety of users' information, data, files,...
        </p>
        <img id="img" src="../../../assets/3.png" />
      </div>
      <!-- <button id="btn_features">Share and work with multiple people at once on a project <img id="img" src="../../../assets/2.png"></button>
    <button id="btn_features">Ensuring the safety of users' information, data, files,... <img id="img" src="../../../assets/3.png"></button> -->
    </div>
  </div>
</div>
