#container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar {
  background-color: white;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
}
#logo {
  width: 10%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 3%;
}

#btn:hover {
  background-color: #d30c4d;
  color: white;
  border-color: black;
}

#btn_toolbar {
}
#btn_toolbar::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#btn_toolbar:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#btn_toolbar::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  font-size: 100vh;
  margin-left: 3%;
}

#describe {
  width: 50%;
  height: 50%;
}

.content {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.but{
  width: 70%;
  margin: 10px auto;
  button{
    border-color: #d30c4d;
    background-color: rgba(255, 255, 255, 0.1);

  }
}

#signin {
  width: 50%;
  // display: table;
  // text-align: center;
  // vertical-align: middle;
}
#word {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

#img {
  width: 19%;
  height: 60%;
}

#features {
  display: grid;
  justify-items: center;
  // align-content: center;
  height: 100%;
}

#btn_features {
  border: 3px solid #d30c4d;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  // margin-right: 7%;
}

#btn_features:hover {
  background-color: #d30c4d;
  color: white;
  border-color: black;
}
